

.button {
    -fx-background-color: #bcbbb3E0;
    -fx-background-radius: 6px;
}

.button:hover {
    -fx-background-color: #999891E0;
}

.button.active {
    -fx-border-radius: 4px;
    -fx-border-color: #e2ab7b;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-background-color: #f2cfacE0;
}

.button.active:hover {
    -fx-background-color: #ffd0a3E0;
}

.button.selected {
   -fx-border-radius: 4px;
    -fx-border-color: #efcf73;
    -fx-border-width: 3px;
    -fx-border-style: solid; 
    -fx-background-color: #ffe78dE0;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}


/* Credit to https://stackoverflow.com/questions/48048943/javafx-8-scroll-bar-css */

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color : #332b51;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #6d6b89;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #5a5871;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

/* End of credit */


/* Credit to https://stackoverflow.com/questions/51343759/how-to-change-fill-color-of-slider-in-javafx */
#filled-slider .track {
    -fx-background-color: transparent;
}
/* End of credit */



/* Credit to https://stackoverflow.com/questions/50552728/dynamically-change-javafx-css-property */
#filled-slider {
    -dynamic-focus-color: #FFFFFF;
    -dynamic-faint-focus-color: #FFFFFF22;
}

#filled-slider .thumb {
    -fx-focus-color: -dynamic-focus-color;
    -fx-faint-focus-color: -dynamic-faint-focus-color;
}

/* End of credit */


#btnPause {
    -fx-background-color: #958cad70 !important;
}

#btnPause .ikonli-font-icon {
    -fx-icon-color: #c1b6daDD;
}

#btnStart .ikonli-font-icon {
    -fx-icon-color: #4c5c5eBD;
    -fx-icon-size: 70px;
}



